*{
    margin: 0;
    padding: 0;
}
body{
    overflow: auto;
}
ul{list-style: none;}
a{
    text-decoration: none;

    color: white;
    border-bottom: 1px dotted white;
    cursor: pointer;
}
a:hover{
    /* transition: border 15s; */
    border: none;
}
/* 배경 */
.bg::after{
    content: "";
    position: fixed;

    width: 100%;
    height: 100%;
    z-index: 1;

    background:url(./Dimension/bg.jpg)no-repeat center;
    background-size: cover ;
    transform: scale(1.125);
}
.bg::before{
    content: "";
    position: fixed;

    width: 100%;
    height: 100%;
    z-index: 2;

    background-color: rgba(0, 0, 0, 0.5);
}
/* 내용 박스 */
.content{
    position:absolute;
    z-index: 3;

    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 8.2rem 4rem 6rem 4rem;

    display: flex;
    justify-content: center;

    color: white;
    text-align: center;
    font-family: "Source Sans Pro";
}
.content header{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}
/* 로고 */
.content .logo{
    width: 115px;
    height: 115px;

    border: 1px solid white;
    border-radius: 50%;

}
.content .logo #icon{
    display: inline-block;
    width: 50px;
    height: inherit;
    background: url(./Dimension/다이아몬드.png)no-repeat center;
}

/* 메인 내용 */
.content .main::before{
    content: "";
    position: absolute;
    top: calc(15rem + 0.5rem);

    width: 1px;
    height: 75px;

    background-color: white;
}
.content .menu::before{
    content: "";
    position: absolute;
    bottom :calc(15rem + 0.7rem);
    
    width: 1px;
    height: 80px;

    background-color: white;
}
.content .main .inner{
    width: 53rem;
    height: 190px;

    padding: 3rem 2rem 2.6rem 2rem;

    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.content .main .inner::before{
    content: "";
    position: absolute;
    margin-left: -15em;
    margin-top: -4em;

    width: 28em;
    height: 13em;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 30%;

    box-shadow: 6px 0px 100px rgba(0, 0, 0, 0.6);

    z-index: -9;
}
.content .main .inner h1{
    margin:18px 0 23px 0;

    font-size: 47px;

    font-weight: 600;
    letter-spacing: 0.7rem;
}
.content .main .inner p{
    margin-top: 15px;
    font-size: 17.5px;
    font-weight: lighter;
    letter-spacing: 4px;
    line-height: 35px;
}

/* 메뉴 */
.content .menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 58px;

    border: 1px solid white;
    border-radius: 5px;
}
.content .menu ul li{
    width: 160px;
    height: 100%;

    cursor: pointer;

    line-height: 60px;
    letter-spacing: 0.3rem;

    border-right: 1px solid white;
}
.content .menu ul li:hover{
    background-color: rgba(125, 125, 125, 0.2);
}
.content .menu ul li a{
    border: none;
}
/* footer */
footer{
    margin-top: 5.5rem;

    font-weight: 100;
    font-size: 13px;
    letter-spacing: 4px;
}
/* 모달창 */
.section{
    width: 100%;
    
}
.section article{
    position: fixed;
    left: 50%;
    margin-left: -425px;
    top: 5rem;

    box-sizing: border-box;
    padding: 5em 3.2em;
    z-index: 99;

    background-color: rgba(16, 16, 17, 0.8);
    width: 850px;
    border-radius: 5px;

    display: none;
    
}

#X-icon{
    position: absolute;
    top: 20px;
    right: 10px;

    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 50px;

    color: white;
    font-size: 30px;

}
#X-icon:hover{
    cursor: pointer;
    background: rgba(211,211,211,0.1);
    border-radius: 50%;
}
.section article .major{
    display: inline-block;
    
    font-size: 28px;
    font-weight: 550;
    letter-spacing: 10px;
    color: white;
    border-bottom: 1px solid white;

    padding-bottom: 15px;
    margin: 20px 0 50px 0;
}
.section .image_main img{
    width: 100%;
    height: 250px;

    border-radius: 3px;
}
.section article p{
    margin-top: 55px;

    font-size: 20px;
    font-weight: lighter;
    line-height: 35px;
    color: white;
}